{% extends "blog/base.html" %}
{%block content %}
   <body>

   <nav class="navbar navbar-dark bg-dark px-3">
      <a class="navbar-brand" href="/">EchoSpace</a>
   </nav>

   <div class="container mt-5">
      <h1 class="mb-4">About EchoSpace</h1>
      <p class="lead">
         EchoSpace is a blog web application build to enable users to
         create and share their thoughts, ideas, and stories with the world.
         Its is a safe space that enables users to express themselves and connect with others through their content.

      </p>

      <hr>

      <h4>What it does</h4>
      <ul>
         <li>Create and share blog posts</li>
         <li>Support rich media content (planned)</li>
         <li>Clean and responsive UI</li>
         <li>Expandable modular design</li>
      </ul>

      <h4 class="mt-4">Vision</h4>
      <p>
         To become a flexible content-sharing platform supporting text, media, and interactive posts.
      </p>

   </div>

   </body>
{%endblock content%}